# Default values for iam-partial-policy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# https://cloud.google.com/config-connector/docs/reference/resource-docs/iam/iampartialpolicy


bindings:
  # Name of the Config Connector resource.
- name: iampartialpolicy-sample-project

  # Labels on the Config Connector resource.
  labels: {}

  # Annotations on the Config Connector resource.
  annotations: {}

  spec:
    # resourceRef, Immutable. Required. The GCP resource to set the IAM policy on.
    resourceRef:
      apiVersion: resourcemanager.cnrm.cloud.google.com/v1beta1
      kind: Project
      name: name-of-config-connector-project

      # Use below namespace property if the Kubernetes object is in a different namespace.
      #namespace: default

      # Create the policy binding for an external object which cant be referenced in Kubernetes.
      #external: projects/project-id-here

    bindings:
      # The role to bind the users to.
      - role: roles/storage.admin
        # The list of IAM users to be bound to the role.
        members:
          # The IAM identity to be bound to the role. Exactly one of 'member' or 'memberFrom' must be used.
          - member: serviceAccount:name-of-service-account@project-id-here.iam.gserviceaccount.com

        # The role to bind the users to.
      - role: roles/editor
        members:
          # The IAM identity to be bound to the role. Exactly one of 'member' or 'memberFrom' must be used,
          # and only one subfield within 'memberFrom' can be used.
          - memberFrom:
              # The IAMServiceAccount to be bound to the role.
              serviceAccountRef:
                name: name-of-iam-service-account-object