############################################################
#                PubSub IAM Partial Policy                 #
############################################################
{{- $_ := required ".global.projectID is required." .Values.global.projectID }}

{{- range $topic := .Values.topics  }}
{{- if or $topic.isDeadletterTopic $topic.publishers $topic.externalPublishers $.Values.globalPublishers $.Values.externalGlobalPublishers }}

apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMPartialPolicy
metadata:
  name: "pub-role-{{ $topic.name }}"
  annotations:
    argocd.argoproj.io/sync-wave: {{ $.Values.argoSyncWave | quote }}
    {{- with $.Values.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    {{- include "pubsub.labels" $ | nindent 4 }}
    {{- range $k, $v := $.Values.labels }}
    {{- printf "%s: %s" $k ($v | quote) | nindent 4 }}
    {{- end }}
spec:
  resourceRef:
    apiVersion: pubsub.cnrm.cloud.google.com/v1beta1
    kind: PubSubTopic
    name: {{ $topic.name }}
  bindings:
    - role: roles/pubsub.publisher
      members:
        {{- if $topic.isDeadletterTopic }}
          {{- $projectNumber := $.Values.global.projectNumber | int64 }}
          {{- if eq $projectNumber 0 }}
          {{- fail (printf ".global.projectNumber is not set or is invalid.") -}}
          {{- end }}
        - member: "serviceAccount:service-{{ $projectNumber }}@gcp-sa-pubsub.iam.gserviceaccount.com"
        {{- end -}}

        {{/* Below logic merges the internal globalPublishers and the publishers on a topic*/}}
        {{- $publishers := concat  ($topic.publishers | default list) $.Values.globalPublishers | uniq }}
        {{- range $sa := $publishers }}
        - member: "serviceAccount:{{ $sa }}@{{ $.Values.global.projectID }}.iam.gserviceaccount.com"
        {{- end -}}

        {{/* Below logic merges the externalGlobalPublishers and the externalPublishers on a topic*/}}
        {{- $externalPublishers := concat  ($topic.externalPublishers | default list) $.Values.externalGlobalPublishers | uniq }}
        {{- range $sa := $externalPublishers }}
        - member: "serviceAccount:{{ $sa }}"
        {{- end }}

---
{{- end }}
{{- end }}


{{- range $sub := .Values.subscriptions }}
{{- if or $sub.subscribers $sub.spec.deadLetterPolicy $.Values.globalSubscribers }}
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMPartialPolicy
metadata:
  name: "sub-role-{{ $sub.name }}"
  annotations:
    argocd.argoproj.io/sync-wave: {{ $.Values.argoSyncWave | quote }}
    {{- with $.Values.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    {{- include "pubsub.labels" $ | nindent 4 }}
    {{- range $k, $v := $.Values.labels }}
    {{- printf "%s: %s" $k ($v | quote) | nindent 4 }}
    {{- end }}
spec:
  resourceRef:
    apiVersion: pubsub.cnrm.cloud.google.com/v1beta1
    kind: PubSubSubscription
    name: {{ $sub.name }}
  bindings:
    - role: roles/pubsub.subscriber
      members:
        {{- if $sub.spec.deadLetterPolicy }}
          {{- $projectNumber := $.Values.global.projectNumber | int64 }}
          {{- if eq $projectNumber 0 }}
          {{- fail (printf ".global.projectNumber is not set or is invalid.") -}}
          {{- end }}
        - member:  "serviceAccount:service-{{ $projectNumber }}@gcp-sa-pubsub.iam.gserviceaccount.com"
        {{- end -}}

        {{/* Below logic merges the internal globalSubscribers and the subscribers on a subscription */}}
        {{- $subscribers := concat  ($sub.subscribers | default list) $.Values.globalSubscribers | uniq }}
        {{- range $sa := $subscribers }}
        - member:  "serviceAccount:{{ $sa }}@{{ $.Values.global.projectID }}.iam.gserviceaccount.com"
        {{- end -}}

        {{/* Below logic merges the externalGlobalSubscribers and the externalSubscribers on a subscription */}}
        {{- $externalSubscribers := concat  ($sub.externalSubscribers | default list) $.Values.externalGlobalSubscribers | uniq }}
        {{- range $sa := $externalSubscribers }}
        - member:  "serviceAccount:{{ $sa }}"
        {{- end }}
---
{{- end }}
{{- end }}
