############################################################
#                      PubSub Schema                   #
############################################################

{{- range $schema := .Values.topicSchemas }}
apiVersion: pubsub.cnrm.cloud.google.com/v1beta1
kind: PubSubSchema
metadata:
  name: {{ $schema.name }}
  labels:
    {{- include "pubsub.labels" $ | nindent 4 }}
    {{- range $k, $v := $.Values.labels }}
    {{- printf "%s: %s" $k ($v | quote) | nindent 4 }}
    {{- end }}
spec:
  type: {{ $schema.type }}
  definition: | {{ $schema.definition | nindent 4 }}
  projectRef:
    external: {{ $.Values.global.projectID }}
---
{{- end }}
