############################################################
#                       PubSub Topics                      #
############################################################

{{- range $topic := .Values.topics  }}

{{- if gt (len $topic.name) 54 }}
{{- fail (printf "topic name [%s, len: %d] too long. must have max length of 54." $topic.name (len $topic.name)) }}
{{- end }}

apiVersion: pubsub.cnrm.cloud.google.com/v1beta1
kind: PubSubTopic
metadata:
  name: {{ $topic.name }}
  {{- if or ($.Values.annotations) ($.Values.argoSyncWave) }}
  annotations:
    {{- with $.Values.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- if $.Values.argoSyncWave }}
    argocd.argoproj.io/sync-wave: {{ $.Values.argoSyncWave | quote }}
    {{- end }}
  {{- end }}
  labels:
    {{- include "pubsub.labels" $ | nindent 4 }}
    {{- range $k, $v := $.Values.labels }}
    {{- printf "%s: %s" $k ($v | quote) | nindent 4 }}
    {{- end }}
{{- with $topic }}
{{- if or .messageRetentionDuration .schemaNameRef }}
spec:
  {{- if .messageRetentionDuration }}
  messageRetentionDuration: {{ .messageRetentionDuration | quote }}
  {{- end }}
  {{- if .schemaNameRef }}
  schemaSettings:
    encoding: {{ .encoding | default "JSON" }}
    schemaRef:
      name: {{ .schemaNameRef }}
  {{- end }}
{{- end }}
{{- end }}
---
{{- end }}
