{{- if .Values.workloadIdentity.enabled }}
{{- $gkeProjectID := .Values.workloadIdentity.gkeProjectID | required "A gkeProjectID is required for workloadIdentity" }}
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMPolicyMember
metadata:
  name: {{ .Values.name }}-wl-identity
  annotations:
    argocd.argoproj.io/sync-wave: {{ .Values.argoSyncWave | default "-5" | quote }}
  labels:
    {{- include "iam-service-account.labels" . | nindent 4 }}
spec:
  resourceRef:
    apiVersion: iam.cnrm.cloud.google.com/v1beta1
    kind: IAMServiceAccount
    name: {{ .Values.name }}
  member: "serviceAccount:{{ $gkeProjectID }}.svc.id.goog[{{ .Values.workloadIdentity.kubernetesNamespace }}/{{ .Values.name }}]"
  role: roles/iam.workloadIdentityUser
---
{{- end }}
{{- if .Values.enableAccessToSecretManager }}
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMPolicyMember
metadata:
  name: {{ .Values.name }}-secret-manager-viewer
  annotations:
    argocd.argoproj.io/sync-wave: {{ .Values.argoSyncWave | default "-5" | quote }}
  labels:
    {{- include "iam-service-account.labels" . | nindent 4 }}
spec:
  resourceRef:
    apiVersion: resourcemanager.cnrm.cloud.google.com/v1beta1
    kind: Project
    external: "projects/{{ .Values.global.projectID | required "global.projectID required" }}"
  memberFrom:
    serviceAccountRef:
      name: {{ .Values.name }}
  role: roles/secretmanager.viewer
---
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMPolicyMember
metadata:
  name: {{ .Values.name }}-secret-manager-accessor
  annotations:
    argocd.argoproj.io/sync-wave: {{ .Values.argoSyncWave | default "-5" | quote }}
  labels:
    {{- include "iam-service-account.labels" . | nindent 4 }}
spec:
  resourceRef:
    apiVersion: resourcemanager.cnrm.cloud.google.com/v1beta1
    kind: Project
    external: "projects/{{ .Values.global.projectID | required "global.projectID required" }}"
  memberFrom:
    serviceAccountRef:
      name: {{ .Values.name }}
  role: roles/secretmanager.secretAccessor
---
{{- end }}
