{{- if .Values.keyFile.create }}
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMServiceAccountKey
metadata:
  name: {{ .Values.name }}-key
  annotations:
    argocd.argoproj.io/sync-wave: {{ .Values.argoSyncWave | default "-5" | quote }}
    {{- with .Values.keyFile.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    okcloud.dk/secret-type: gsa-key
    {{- include "iam-service-account.labels" . | nindent 4 }}
spec:
  keyAlgorithm: {{ .Values.spec.keyAlgorithm | default "KEY_ALG_RSA_2048" }}
  privateKeyType: {{ .Values.spec.privateKeyType | default "TYPE_GOOGLE_CREDENTIALS_FILE" }}
  publicKeyType: {{ .Values.spec.publicKeyType | default "TYPE_X509_PEM_FILE" }}
  serviceAccountRef:
    name: {{ .Values.name }}
---
# push to  gsm store
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: {{ .Values.name }}
spec:
  updatePolicy: Replace
  deletionPolicy: Delete
  refreshInterval: 1h
  secretStoreRefs:
    - name: google-secret-manager
      kind: SecretStore
  selector:
    secret:
      name: {{ .Values.name }}-key
  data:
    - match:
        secretKey: 'key.json'
        remoteRef:
          remoteKey: "{{ .Values.name }}"
---
{{- end }}
