# Default values for sqlinstance.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# https://cloud.google.com/config-connector/docs/reference/resource-docs/sql/sqlinstance

global:
  # Add labels from a parent chart to all manifests.
  # Google Cloud labels only support hyphens (-), underscores (_), lowercase characters and numbers.
  labels: {}

  # The Google Project ID.
  projectID: null

######################################################
#                    SQL Instance                    #
######################################################

name: sqlinstance-sample

# Uncomment below line to delete the SQL Instance in Google on Kubernetes object deletion.
#deletionPolicyRemoveResource: true

# Below property sets a ArgoCD Sync Wave annotation on all resources. Set it to "false" to disable it.
# https://argo-cd.readthedocs.io/en/stable/user-guide/sync-waves/
argoSyncWave: -5

# Labels on the Config Connector resource.
# Google Cloud labels only support hyphens (-), underscores (_), lowercase characters and numbers.
labels: {}

# Annotations on the Config Connector resource.
annotations: {}

databaseVersion: POSTGRES_15
tier: db-f1-micro

availabilityType: REGIONAL
backupConfiguration:
  backupRetentionSettings:
    retainedBackups: 8
  enabled: true
  pointInTimeRecoveryEnabled: true
  startTime: 01:00
  transactionLogRetentionDays: 7

insightsConfig:
  queryInsightsEnabled: true
  recordApplicationTags: true
  recordClientAddress: true

maintenanceWindow:
  day: 7
  hour: 02
  updateTrack: stable

# NB: Some database flags will force a reboot of the Instance.
# https://cloud.google.com/sql/docs/postgres/flags
databaseFlags: []
  # cloudsql.logical_decoding: "on"

######################################################
#                     Databases                      #
######################################################

# If you leave the "databases" array empty, a default database with the same name as the SQL Instance will be created, with default values.
# If you want another database name or create multiple datebases, add them to the array below with minimum a name. Examples are provided.

databases: []
  # - name: database-01

  # - name: database-02
  #   deletionPolicyRemoveResource: true
  #   annotations:
  #     some-annotation: some-value
  #   spec:
  #     charset: some-other-value
  #     collation: some-other-value


######################################################
#                   Databases Users                  #
######################################################

# https://cloud.google.com/config-connector/docs/reference/resource-docs/sql/sqluser

# Below array hold the service accounts which should get access.
# The SA will get the necessary roles to be able to connect using Cloud SQL Proxy and write to the DB.
# You can how ever change the default OK amba custom role by setting the "role" property.
serviceAccounts: []
  # - name: my-service-account
  #
  #   # Below values are optional
  #   deletionPolicyRemoveResource: true
  #   annotations:
  #     some-annotation: some-value
