# Default values for storagebucket.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# https://cloud.google.com/config-connector/docs/reference/resource-docs/storage/storagebucket

global:
  # Add labels from a parent chart to all manifests.
  # Google Cloud labels only support hyphens (-), underscores (_), lowercase characters and numbers.
  labels: {}

# StorageBucket names must be globally unique.
name: unique-storage-name

# Labels on the Config Connector resource.
# Google Cloud labels only support hyphens (-), underscores (_), lowercase characters and numbers.
labels: {}

# Annotations on the Config Connector resource.
annotations:
  cnrm.cloud.google.com/deletion-policy: abandon

# Below property sets a ArgoCD Sync Wave annotation on all resources. Set it to "false" to disable it.
# https://argo-cd.readthedocs.io/en/stable/user-guide/sync-waves/
argoSyncWave: -5

spec:
  storageClass: REGIONAL
  location: europe-west3
  uniformBucketLevelAccess: true

# Below array hold the service accounts which should get access to the storage bucket.
# The service account will get the specified role only on the the bucket created, using conditions.
# Role reference https://cloud.google.com/iam/docs/understanding-roles#cloud-storage-roles
serviceAccounts: []
  # - name: my-service-account
  #   projectId: my-google-project-id
  #   role: roles/storage.objectViewer
  #   # Below value are optional
  #   annotations:
  #     some-annotation: some-value